.imgDiv {
    position: relative;
}
.imgDiv img {
    width: 85%;
    height: auto;
}
.hover img{
    opacity: 0.5;
}
.project-links {
    position: absolute;
    top: 25%;
}

.hoverLink{
    opacity:1;
}

.noHoverLink{
    opacity:.5;
}