.hover img{
    opacity: 0.5;
}

.deployed{
   font-size: 1.5rem;
}

.repo {
    font-size: 1.5rem;
}

.hoverLink{
    opacity:1;
}

.noHoverLink{
    opacity:.5;
}

.project-card {
    height: 100%;
}

.project-card div{
    border-radius: var(--chakra-radii-l3)
 }

 img {
    width: 100%;
 }