.imgDiv {
    position: relative;
}
.imgDiv img {
    width: 85%;
    height: auto;
}
.hover img{
    opacity: 0.5;
}
.project-links {
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: .8em;
}

.project-links a {
    font-weight: bold;
}

/* icon-icon {
    position: relative;
    top: 50%;
} */

.hoverLink{
    opacity:1;
}

.noHoverLink{
    opacity:.5;
}